include README.md
include LICENSE
include radmc3d_volume_rendering/Makefile
include radmc3d_volume_rendering/userdef_module.f90
include notebooks/fargo3d_data.npz
include notebooks/volume_rendering.ipynb
